<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="sqlServer" value="LAPTOP-OQFI4UAA\SQLEXPRESS" />
      <add key="sqlLogin" value="sa" />
      <add key="sqlPassword" value="123456" />
      <add key="sqlDatabase" value="DBLKGroupCotizacion" />
      <add key="classNamespace" value="SolLKGroup.Entidad" />
      <add key="destinationFolder" value="Export" />
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>